*{
    margin: 0;
    padding: 0;
}
.facebook-login{
    width:100%;
    height: 630px;
    background-color: #ebebec;
}
.header{
    padding:20px;
    text-align: center;
}
.header h1{
    width: 100%;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 600;
    color: #136cfa;
}
.from{
    width: 100%;
    overflow: hidden;
    height: 70vh;
    width: 47%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 20px;
}
p{
    font-size: 25px;
    padding-top: 27px;
    font-family: sans-serif;
    font-weight: 400;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-align: center;
}
.box{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.box-1{
    width: 100%;
    padding: 15px 0px 15px 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    border-radius: 5px;
    border: 0.5px solid #bfbfbf;
    letter-spacing: 1px;
}
.box-2{
    margin-top: 30px;
}
.box a{
    width: 90%;
    text-align: center;
    text-decoration: none;
}
.box a h2{
    width: 100%;
    margin-top: 25px;
    padding: 10px 5px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    background-color: #1977f3;
    color: #fff6ff;
    border-radius: 5px;
}
.text{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}
.text a{
    text-decoration: none;
    color: #1977f3;
    word-spacing: 8px;
}